<div class="main-container">

    <div class="led-container" *ngFor="let item of splitedNumber; let i = index;">

        <div class="first-column">
    
            <div class="ditigal-member-top-left"></div>
            <div class="ditigal-member-bottom-left"></div>
    
        </div>
    
        <div class="second-column">
    
            <div class="ditigal-member-top-center"></div>
            <div class="ditigal-member-middle-center"></div>
            <div class="ditigal-member-bottom-center"></div>
    
        </div>
    
        <div class="third-column">
    
            <div class="ditigal-member-top-right"></div> 
            <div class="ditigal-member-bottom-right"></div>
    
        </div>
    
    </div>

</div>


